@import "~@/client/scss/functions";

.form-group {
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  &.top {
    flex-direction: column;
  }
  &.right {
    flex-direction: row;
    align-items: center;
    .wrapper {
      order: -1;
    }
    .label {
      margin-left: 0.5rem;
      margin-bottom: 0;
    }
  }
  .wrapper {
    height: 22px;
    width: 22px;
    position: relative;
  }
  .input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &:active {
      & + .switch {
        &::before {
          background-color: get-theme-color("background");
        }
      }
    }
    @each $k, $v in map-get($colors, "light") {
      &.#{$k} {
        &:focus {
          & + .switch::before {
            box-shadow: 0 0 0 3px get-theme-color($k, "shadow-3");
          }
        }
        &:checked {
          & + .switch {
            &::before {
              border-color: get-theme-color($k, "active");
              background-color: get-theme-color($k);
            }
            .icon {
              display: block;
              color: get-theme-color($k, "contrast");
            }
          }
        }
      }
    }
  }
  .switch {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background-color: get-theme-color("background", "hover");
      border: 2px solid;
      border-color: get-theme-color("background", "active");
      border-radius: 6px;
      transition: create-transition(
        (background-color, border-color, box-shadow),
        100ms,
        ease-in-out
      );
    }
    .icon {
      height: 70%;
      width: 70%;
      position: relative;
      z-index: 200;
      display: none;
      stroke-width: 3;
    }
  }
  .label {
    display: inline-block;
    margin-bottom: 0.25rem;
  }
}
