@import '~@/client/scss/functions';

.label {
  font-size: nth($font-sizes, 2);
  letter-spacing: 1.25px;
}

.p {
  font-size: nth($font-sizes, 2);
}

.button {
  font-size: nth($font-sizes, 2);
  text-transform: uppercase;
  letter-spacing: 1.25px;
}