@import '~@/client/scss/functions';

.paper {
  background-color: get-theme-color("paper");
  border-radius: 6px;
  padding: 3rem 2rem;
  &.elevate { 
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    &.hoverable {
      transition: create-transition((box-shadow), 100ms, ease-in-out);
      &:hover {
        box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
      }
    }
  }
}