@import '~@/client/scss/functions';

.button {
  border: none;
  border-radius: 6px;
  padding: 0.65rem 1.25rem;
  &:focus {
    outline: none;
  }
  &:not(:disabled) {
    cursor: pointer;
    @each $k, $v in map-get($colors, "light") {
      &.contained {
        &.#{$k} {
          background-color: get-theme-color($k);
          color: get-theme-color($k, "contrast");
          transition: create-transition((background-color, box-shadow), 100ms, ease-in-out);
          &:hover {
            background-color: get-theme-color($k, "hover");
          }
          &:focus, &:active {
            background-color: get-theme-color($k, "active");
            box-shadow: 0 0 0 3px get-theme-color($k, "shadow-3");
          }
        }
      }
      &.flat {
        &.#{$k} {
          background-color: transparent;
          color: get-theme-color($k);
          transition: create-transition((background-color), 100ms, ease-in-out);
          &:hover {
            background-color: get-theme-color($k, "shadow-2");
          }
          &:focus, &:active {
            background-color: get-theme-color($k, "shadow-3");
          }
        }
      }
    }
  }
  &:disabled {
    cursor: not-allowed;
    &.contained {
      background-color: get-theme-color("disabled-color");
      color: get-theme-color("disabled-color", "contrast");
    }
    &.flat {
      background-color: transparent;
      color: get-theme-color("disabled-color");
    }
  }
}