version: 2
jobs: 
  build:
     docker:
       - image: circleci/node:latest
     steps:
       - checkout
       - run: npm install
       - run: npm run build
       - run: 
          name: Deploy master branch
          command: |
            sudo apt-get update
            sudo apt-get -qq install git-ftp
            git-ftp --init-if-not-exist --user "${FTPUSERNAME}" --passwd "${FTPPASS}" ${FTPHOST}
workflows:
  version: 2
  deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master