@import '~@/client/scss/functions';
@import '~normalize.css';

@include generate-theme-definition();

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: get-theme-color("background");
  color: get-theme-color("background", "contrast");
  margin: 0;
}