$colors: (
  light: (
    primary: #1E1E24,
    secondary: #2196f3,
    background: #fafafa,
    paper: #ffffff
  ),
  dark: (
    primary: #f7f7f2,
    secondary: #2196f3,
    background: #2a2a2a,
    paper: #1a1a1a
  ),
);

$disabled-color: (
  light: #888888,
  dark: #cccccc
);

$disabled-color-text: (
  light: #eeeeee,
  dark: #111111
);

$font-sizes: .875rem, 1rem, 1.25rem, 1.5rem, 1.75rem, 2rem;