@import '~@/client/scss/functions';

.root {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  pointer-events: none;
  transition: create-transition((opacity, width), 100ms, ease-in-out);
  .bar {
    background-color: get-theme-color("secondary");
    height: 2px;
    width: 100%;
  }
  .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px get-theme-color("secondary"), 0 0 5px get-theme-color("secondary");
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px);
  }
}