@import '~@/client/scss/functions';

.link {
  font-size: 1rem;
  &.gutter-bottom {
    margin-bottom: 1rem;
  }
  @each $k, $v in map-get($colors, "light") {
    &.#{$k} {
      color: get-theme-color($k);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: get-theme-color($k, "hover");
      }
    }
  }
}