@import "~@/client/scss/functions";

.root {
  background-color: get-theme-color("background");
  overflow: hidden;
  transition: create-transition(
    (background-color),
    300ms,
    "ease-in-out",
    200ms
  );
  &.register {
    background-color: get-theme-color("paper");
    .paper {
      @media (max-width: 900px) {
        align-self: flex-start;
        border-radius: 0px;
        height: 100% !important;
      }
    }
  }
  .paper {
    transition: create-transition((box-shadow), 100ms, "ease-in-out", 200ms);
    @media (max-width: 500px) {
      align-self: flex-start;
      border-radius: 0px;
      height: 100% !important;
    }
  }
  .paper-force {
    align-self: flex-start;
    border-radius: 0px;
    height: 100% !important;
  }
}
