@import '~@/client/scss/functions';

.root {
  background-color: get-theme-color("background");
  transition: create-transition((background-color), 300ms, 'ease-in-out', 200ms);
  &.register {
    background-color: get-theme-color("paper");
  }
  .paper {
    transition: create-transition((box-shadow), 100ms, 'ease-in-out', 200ms);
    @media (max-width: 500px) {
      align-self: flex-start;
      border-radius: 0px;
      height: 100%!important;
    }
  }
}

