@import "~@/client/scss/functions";

.container {
  margin-bottom: 1rem;
  .form-group {
    border-radius: 6px;
    background-color: get-theme-color("background", "hover");
    border: 2px solid;
    border-color: get-theme-color("background", "active");
    display: flex;
    align-items: stretch;
    position: relative;
    transition: create-transition(
      (background-color, border-color, box-shadow),
      100ms,
      ease-in-out
    );
    &:not(.disabled) {
      &:hover {
        background-color: get-theme-color("background");
      }
      &:focus-within {
        background-color: get-theme-color("background");
        & .label {
          font-size: nth($font-sizes, 1);
          top: 27.5%;
        }
      }
      @each $k, $v in map-get($colors, "light") {
        &.#{$k} {
          &:focus-within {
            box-shadow: 0 0 0 3px get-theme-color($k, "shadow-3");
            border-color: get-theme-color($k, "active");
          }
        }
      }
      &.error {
        border-color: get-theme-color("danger") !important;
        &:focus-within {
          box-shadow: 0 0 0 3px get-theme-color("danger", "shadow-3");
        }
        .label {
          color: get-theme-color("danger");
        }
        & + .helper {
          color: get-theme-color("danger");
        }
      }
    }
    .label {
      position: absolute;
      left: 0.65rem;
      user-select: none;
      font-weight: get-font-weight("medium");
      top: 50%;
      pointer-events: none;
      color: get-theme-color("paper", "contrast");
      transform: translateY(-50%);
      transition: create-transition((font-size, top), 100ms, ease-in-out);
    }
    .input {
      flex: 1;
      border: none;
      padding: 1.55rem 0.65rem 0.45rem;
      border-radius: 6px;
      background-color: transparent;
      font-size: 1rem;
      max-width: 100%;
      color: get-theme-color("background", "contrast");
      &:disabled {
        user-select: none;
      }
      &:focus {
        outline: none;
      }
      &:not(:placeholder-shown) {
        & + .label {
          font-size: nth($font-sizes, 1);
          top: 27.5%;
        }
      }
    }
    &.no-label {
      .input {
        padding: 1rem 0.65rem;
      }
    }
    &.disabled {
      background-color: get-theme-color("disabled");
      border-color: get-theme-color("disabled", "active");
      .label {
        color: get-theme-color("disabled-text");
      }
    }
    .append {
      padding-right: 0.5rem;
      display: flex;
      align-items: center;
    }
  }
}
