@import '~@/client/scss/functions';

.form-group {
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: get-theme-color("background", "hover");
  border: 2px solid;
  border-color: get-theme-color("background", "active");
  display: flex;
  align-items: stretch;
  position: relative;
  transition: create-transition(('background-color', 'border-color', 'box-shadow'), 100ms, ease-in-out);
  &:hover {
    background-color: get-theme-color("background");
  }
  &:focus-within{
    background-color: get-theme-color("background");
    & .label {
      font-size: nth($font-sizes, 1);
      top: 27.5%;
    }
  }
  @each $k, $v in map-get($colors, "light") {
    &.#{$k} {
      &:focus-within{
        box-shadow: 0 0 0 3px get-theme-color($k, "shadow-3");
        border-color: get-theme-color($k, "active");
      }
    }
  }
  .label {
    position: absolute;
    left: 0.65rem;
    top: 50%;
    pointer-events: none;
    color: get-theme-color("paper", "contrast");
    transform: translateY(-50%);
    transition: create-transition(('font-size', 'top'), 100ms, ease-in-out);
  }
  .input {
    flex: 1;
    border: none;
    padding: 1.55rem 0.65rem 0.45rem;
    border-radius: 6px;
    background-color: transparent;
    &:focus {
      outline: none;
    }
    &:not(:placeholder-shown) {
      & + .label {
        font-size: nth($font-sizes, 1);
        top: 27.5%;
      }
    }
  }
  .append {
    padding-right: .5rem;
    display: flex;
    align-items: center;
  }
}